/vendor/

index.php
license.txt
readme.html
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-content/
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-content/themes/espiaso/node_modules/
wp-config-sample.php
wp-content/themes/intentionally-blank/

wordpress/wp-admin
wordpress/wp-includes
wordpress/*.php
wordpress/license.txt
wordpress/*
wp-content/uploads

# Files to keep
!/wp-content/

